<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
 <HEAD>
  <META HTTP-EQUIV="content-type" CONTENT="text/html;charset=ISO-8859-1">
  <TITLE></TITLE>

<style type="text/css">
body {
    font-family:Helvetica, sans-serif;
}

ul, ol, li {
    margin:0;
    padding:0;
}

a:link {
    color:#000000;
    text-decoration:none;
}

a:visited {
    text-decoration:none;
}

a:active {
    color:#ffce00;
    text-decoration:underline;
}

a {
    text-decoration:none;
    color:#1b1b1b;
}

body{
    max-width:980px;
    margin-left:50px;
    margin-right:50px;
}

table.alert-table {
    background-color:rgb(251, 251, 251);
    color:rgb(255, 255, 255);
}

div.lockup > ul.list {
    margin-left:0;
    padding-left:85px;
}

div.lockup li {
    font-size:11px;
    text-overflow:ellipsis;
    white-space:nowrap;
    line-height:15px;
    color:#000000;
}

div.lockup li.name {
    font-weight:bold;
    font-size: 11px;
}

table.alert-table div.lockup {
  min-width: 330px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: 10px;
  padding-right: 20px;
}

.disclaimer {
  font-family: Helvetica, Arial;
  font-size: 11px;
  color: #000000;
}

th.email-header {
  background-color: rgb(31, 41, 63);
  font-size: 11px;
  padding-left: 2px;
  font-weight: normal;
  text-transform: uppercase;
}

table.alert-table div.lockup > a {
  max-width: 175px;
  margin:0 10px 0 0;
}

table.alert-table div.lockup li{
  font-size: 11px;
  line-height: 18px;
  color: #000000;
}

table.alert-table div.lockup li.name {
  font-weight:bold;
  font-size: 16px;
}

.headline16 {
  font-family: Helvetica, Arial, sans-serif;
  font-size:   16px;
  font-weight: bold;
  color:       #000000;
}

.action-link {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}

table.multiple-elements-table td.lockup-info a,
table.single-element-table td.lockup-info a {
  display: block;
  width: 140px;
  line-height: 15px;
  height: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.single-element-table td.lockup-info a {
  width: 230px;
}
</style>
</HEAD>
<BODY BGCOLOR="#ffffff" LEFTMARGIN="0" MARGINHEIGHT="0" MARGINWIDTH="0" TOPMARGIN="0">
    <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="center" BGCOLOR="#ffffff">
        <TR HEIGHT="20">
            <TD NOWRAP WIDTH="20" HEIGHT="20"></TD>
            <TD ALIGN="left" HEIGHT="20"></TD>
            <TD NOWRAP WIDTH="20" HEIGHT="20"></TD>
        </TR>
        <TR>
            <TD NOWRAP WIDTH="20"></TD>
            <TD ALIGN="center">
                <TABLE WIDTH="731" BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="center">
                    <TR>
                        <TD ALIGN="right" VALIGN="top" WIDTH="100%">
                            <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0">
                                <TR>
                                    <TD ALIGN="left" VALIGN="top" WIDTH="731">
                                        <TABLE border="0" cellpadding="0" cellspacing="0" WIDTH="100%">
                                            <TR>
                                                <TD WIDTH="16"></TD>
                                                <TD><img alt="Winspire Sports & Entertainment" width="255" height="100" border="0" src="http://wsenow.inertiaim.com/images/email/wse-logo.gif" /></TD>
                                                <TD align="right" valign="bottom">
                                                    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0">
                                                        <TR>
                                                            <TD NOWRAP CLASS="preference" VALIGN="middle" ALIGN="right"></TD>
                                                            <TD ALIGN="right" VALIGN="middle" NOWRAP WIDTH="10"></TD>
                                                            <TD ALIGN="right" VALIGN="middle" NOWRAP WIDTH="16"></TD>
                                                        </TR>
                                                    </TABLE>
                                                </TD>
                                            </TR>
                                            <TR HEIGHT="19"><TD COLSPAN="3" HEIGHT="19"></TD></TR>
                                        </TABLE>
                                    </TD>
                                </TR>
                                <TR>
                                    <TD VALIGN="top" WIDTH="731">
                                        <TABLE CLASS="alert-table" BGCOLOR="#fbfbfb" BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="731">
                                            <TR HEIGHT="10">
                                                <TD BACKGROUND="http://wsenow.inertiaim.com/images/email/alerts_box_topl.jpg" WIDTH="8" HEIGHT="10">
                                                    <img width="8" height="10" border="0" src="http://wsenow.inertiaim.com/images/email/alerts_box_topl.jpg" />
                                                </TD>
                                                <TD BACKGROUND="http://wsenow.inertiaim.com/images/email/alerts_box_topm.jpg" HEIGHT="10"></TD>
                                                <TD BACKGROUND="http://wsenow.inertiaim.com/images/email/alerts_box_topr.jpg" WIDTH="8" HEIGHT="10">
                                                    <img width="8" height="10" border="0" src="http://wsenow.inertiaim.com/images/email/alerts_box_topr.jpg" />
                                                </TD>
                                            </TR>
                                            <TR HEIGHT="10">
                                                <TD BACKGROUND="http://wsenow.inertiaim.com/images/email/alerts_box_left.jpg" width="8" HEIGHT="10"></TD>
                                                <TD HEIGHT="10"></TD>
                                                <TD BACKGROUND="http://wsenow.inertiaim.com/images/email/alerts_box_right.jpg" width="8" HEIGHT="10"></TD>
                                            </TR>
                                            <TR>
                                                <TD BACKGROUND="http://wsenow.inertiaim.com/images/email/alerts_box_left.jpg" width="8"></TD>
                                                <TD>
                                                    <TABLE CLASS="lockup-container" BORDER="0" CELLSPACING="0" CELLPADING="0" width="100%">
                                                        <TR>
                                                            <TD WIDTH="6"></TD>
                                                            <TD NOWRAP WIDTH="8"></TD>
                                                            <TD CLASS="lockup-info" ALIGN="left" VALIGN="top">
                                                                <FONT CLASS="headline16" SIZE="1" FACE="Helvetica"><B>Thank you for contacting Winspire Sports & Entertainment.  One of our Experience Experts will be contacting you soon to help you craft that one-of-a-kind event.</B></FONT>
                                                                <BR>
                                                                <BR>
                                                                <FONT CLASS="headline16" SIZE="1" FACE="Helvetica"><B>We look forward to serving you.</B></FONT>
                                                                <BR>
                                                                <BR>
                                                            </TD>
                                                        </TR>
                                                        <TR HEIGHT="10">
                                                            <TD COLSPAN="3" HEIGHT="10"></TD>
                                                        </TR>
                                                    </TABLE>
                                                </TD>
                                                <TD BACKGROUND="http://wsenow.inertiaim.com/images/email/alerts_box_right.jpg" WIDTH="8"></TD>
                                            </TR>
                                            <TR HEIGHT="10">
                                                <TD BACKGROUND="http://wsenow.inertiaim.com/images/email/alerts_box_botl.jpg" WIDTH="8" HEIGHT="10">
                                                    <img width="8" height="10" border="0" src="http://wsenow.inertiaim.com/images/email/alerts_box_botl.jpg" />
                                                </TD>
                                                <TD BACKGROUND="http://wsenow.inertiaim.com/images/email/alerts_box_botm.jpg" HEIGHT="10"></TD>
                                                <TD BACKGROUND="http://wsenow.inertiaim.com/images/email/alerts_box_botr.jpg" WIDTH="8" HEIGHT="10">
                                                    <img width="8" height="10" border="0" src="http://wsenow.inertiaim.com/images/email/alerts_box_botr.jpg" />
                                                </TD>
                                            </TR>
                                            <TR HEIGHT="10">
                                                <TD COLSPAN="3" HEIGHT="10" BGCOLOR="#ffffff"></TD>
                                            </TR>
                                        </TABLE>
                                    </TD>
                                </TR>
                            </TABLE>
                        </TD>
                    </TR>
                </TABLE>
                <TABLE ALIGN="center">
                    <TR HEIGHT="12"><TD HEIGHT="12"></TD></TR>
                    <TR>
                        <TD ALIGN="center" WIDTH="600">
                            <FONT SIZE="1" COLOR="#000000" FACE="Helvetica">
                                <SPAN CLASS="disclaimer">
                                    Copyright {{ 'now' | date('Y') }} Winspire Sports & Entertainment. All Rights Reserved.
                                </SPAN>
                            </FONT>
                        </TD>
                    </TR>
                </TABLE>
            </TD>
            <TD NOWRAP WIDTH="20"></TD>
        </TR>
        <TR HEIGHT="20">
            <TD NOWRAP WIDTH="20" HEIGHT="20"></TD>
            <TD ALIGN="center" NOWRAP HEIGHT="20"></TD>
            <TD NOWRAP WIDTH="20" HEIGHT="20"></TD>
        </TR>
    </TABLE>
</BODY>
</html>